.icon {
  width: 64px;
  vertical-align: top;
  border: 1px solid salmon;
}

.app-canvas {
  display: block;
  margin: 20px auto;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  background-color: white;
}
